﻿@model OSPJ_File_Storage.Models.Products

@{
    ViewBag.Title = "StoredFiles";
    Layout = "~/Views/Shared/_HoneyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>

<body style="padding:5px;">
    <br />
    <br />
    <br />
    <div>
        <table class="table-condensed table-bordered">
            <tr>
                <th align="center">
                    File Name
                </th>
                <th align="center">
                    File
                </th>
                <th align="center">
                    Download File
                </th>
            </tr>



            @foreach (var product in Model.lstProducts)
                {
                    <tr>
                        <td align="center">
                            @product.FileN
                        </td>
                        <td align="center">
                            @product.FilePath
                        </td>

                        <td align="center">
                            <a class="btn btn-default"
                               href="http://localhost:44368/Products/DownloadFile?file=@product.FilePath"
                               target="_blank">
                                <b>Download</b>
                            </a>
                        </td>
                    </tr>
                }

        </table>
    </div>
}
<div>
    <input type="button" value="Click To Go Back To Main Page" onclick="@("window.location.href='" + @Url.Action("index","products") + "'");" />
</div>
</body>
</html>

