﻿@model IEnumerable<OSPJ_File_Storage.Models.FileModel>
@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_HoneyLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
            margin-top: 150px;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
            margin-top: 100px;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "FileShare", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <input type="submit" id="btnUpload" value="Upload1" />
    }
    @using (Html.BeginForm("DownloadFile", "FileShare", FormMethod.Post))
    {
        <input type="hidden" id="hfFileId" name="FileId" />
        <input type="submit" id="btnDownload" value="Download" style="display:none" />

    }
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th style="width:50px">File ID</th>
            <th style="width:120px">File Name</th>
            <th style="width:80px">Download</th>
        </tr>
        
            @if (Model.Count() > 0)
            { 

                foreach (var file in Model)
                {
                    <tr>
                        <td>@file.Id</td>
                        <td>@file.Name</td>
                        <td><a href="javascript:;" onclick="DownloadFile(@file.Id)">Download</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            }
        
    </table>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function DownloadFile(fileId) {
            $("#hfFileId").val(fileId);
            $("#btnDownload")[0].click();
        };
    </script>
</body>
</html>
