﻿@model  IEnumerable<OSPJ_File_Storage.Models.UploadFile>
@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="\Content\uploadfile.css" />
</head>

<body>

    <h1>Upload Your File <span>With jQuery and CSS</span></h1>
    <div class="custom-file-upload">
        <!--<label for="file">File: </label>-->
        <input type="file" id="FileUpload1" name="myfiles[]" runat="server" multiple/>
        <input type="button" id="btnUpload" runat="server" value="Upload" onclick="Upload()"/>
    </div>
   
    <script src="~/Scripts/uploadfile.js"></script>
</body>
</html>


