﻿
@{
    ViewBag.Title = "ViewSpecificAsset";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OSPJ_File_Storage.Models.Asset

<h2>ViewSpecificAsset</h2>


@{
    var Asset = ViewBag.message;
}

<h2> Device Information</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="SysInfo" aria-selected="true">System Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Installed Programs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Updates and Patches</a>
    </li>
</ul>


<div class="tab-content pl-3 p-1" id="myTabContent">
    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
        <p> @Asset.IpAddress </p>
        <p>@Asset.OperatingSystem</p>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Application Name</th>
                        <th>Version</th>
                        <th>Publisher</th>
                        <th>Installed On</th>
                        <th class="text-right">Patches Installed</th>
                    </tr>

                    <tr class="Filter-Table-Row">
                        <td> <input type="text" placeholder="Search By Name" /> </td>
                        <td> <input type="text" placeholder="Search By Version" /> </td>
                        <td> <input type="text" placeholder="Search By Publisher" /> </td>
                        <td> <input type="text" placeholder="Search By Installation Date" /> </td>
                    </tr>
                </thead>

                <tbody>

                    @for (var i = 1; i < Asset.InstalledApplications.Count; i++)
                    {
                        string app = Asset.InstalledApplications[i];
                        string[] OrganisedApp = app.Split('|');

                        do
                        {
                            if (OrganisedApp[0] != "")
                            {
                                <tr>


                                    <td>@OrganisedApp[0]</td>


                                    <td>@OrganisedApp[1]</td>


                                    <td>@OrganisedApp[2]</td>


                                    <td>@OrganisedApp[3]</td>

                                    @if (OrganisedApp[4] != "")
                                    {
                                        <td>
                                            <a href=@Url.Action("uninstall","Admin",new {ipAddress="LAPTOP-FPTJ1TTF", uninstallCommand = OrganisedApp[4] })>
                                                <button>Uninstall</button>
                                            </a>
                                        </td>
                                    }

                                    <td>@OrganisedApp[4]</td>

                                  
                                 

                                </tr>
                            }

                        } while (false);
                    }

                </tbody>

                </table>

</div>
        </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <h3>Menu 2</h3>
        <p>@Asset.InstalledWindowsUpdates[1]</p>
        <h3></h3>
        <p>@Asset.PendingWindowsUpdates</p>



        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Application Name</th>
                        <th>Version</th>
                        <th>Publisher</th>
                        <th>Installed On</th>
                        <th class="text-right">Patches Installed</th>
                    </tr>

                    <tr class="Filter-Table-Row">
                        <td> <input type="text" placeholder="Search By Name" /> </td>
                        <td> <input type="text" placeholder="Search By Version" /> </td>
                        <td> <input type="text" placeholder="Search By Publisher" /> </td>
                        <td> <input type="text" placeholder="Search By Installation Date" /> </td>
                    </tr>
                </thead>

                <tbody>

                    @for (var i = 1; i < Asset.InstalledWindowsUpdates.Count; i++)
                    {
                        string app = Asset.InstalledWindowsUpdates[i];
                        string[] OrganisedApp = app.Split('|');

                        do
                        {

                            <tr>
                                <td>@app</td>
                            </tr>
                        } while (false);
                    }

                </tbody>

            </table>

        </div>
    </div>
    </div>
