body {
}

.Asset-Table{
    margin-top:90px;
    margin-left:250px;
    background-color:white;
}

table{
    width:100%;
}

.Filter-Table-Row{
    overflow:scroll;
}

.page-container{
    background-color:white;
    padding-top:30px;
    padding-left:55px;
}