﻿
@{
    ViewBag.Title = "CheckFile";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/ManageAccount.css" />
</head>

<body>

    <div class="ResetOTP">

        <form method="post" enctype="multipart/form-data" asp-controller="CheckFile" asp-action="UploadFile">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" name="fileInput" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>


        <br />
        @ViewData["IC"] <br />
        @ViewData["CardNumber"]<br />
        @ViewData["Clear"]

    </div>




</body>
</html>

