﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hello World!</h1>
    </div>
    <ul>
        <li>@Html.ActionLink("Add Signatory", "AddSignatory", "ESignature")</li>
        <li>@Html.ActionLink("ESign", "ESign", "ESignature")</li>
        <li>@Html.ActionLink("RequestSignature", "RequestSignature", "ESignature")</li>
        <li>@Html.ActionLink("Signature Status", "SignatureStatus", "ESignature")</li>
    </ul>
</body>
</html>
