﻿<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>SideBar</title>

    <!-- Fontfaces CSS-->
    <link href="~/Content/Template1/css/font-face.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/Content/Template1/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/Content/Template1/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1//perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Content/Template1/css/theme.css" rel="stylesheet" media="all">

</head>
<body>
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="/Content/Template1/images/icon/logo.png" alt="Cool Admin" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a class="js-arrow" href="#" onclick="location.href='@Url.Action("DefaultHomePageH", "Home")'">
                            <i class="fas fa-tachometer-alt"></i>FileShare
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="location.href='@Url.Action("UploadFileH", "FileShare")'">
                            <i class="far fa-check-square"></i>Shared Files
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="location.href='@Url.Action("SettingsH", "Settings")'">
                            <i class="fas fa-map-marker-alt"></i>Settings
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="/Content/Template1/login.html">Login</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/register.html">Register</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/forget-pass.html">Forget Password</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-copy"></i>Report a Problem
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-desktop"></i>UI Elements
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="/Content/Template1/button.html">Button</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/badge.html">Badges</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/tab.html">Tabs</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/card.html">Cards</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/alert.html">Alerts</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/progress-bar.html">Progress Bars</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/modal.html">Modals</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/switch.html">Switchs</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/grid.html">Grids</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/fontawesome.html">Fontawesome Icon</a>
                            </li>
                            <li>
                                <a href="/Content/Template1/typo.html">Typography</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="" method="POST">
                            <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                        <div class="header-button">
                            <div class="noti-wrap">
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-comment-more"></i>
                                    <span class="quantity">1</span>
                                    <div class="mess-dropdown js-dropdown">
                                        <div class="mess__title">
                                            <p>You have 2 news message</p>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="/Content/Template1/images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                            </div>
                                            <div class="content">
                                                <h6>Michelle Moreno</h6>
                                                <p>Have sent a photo</p>
                                                <span class="time">3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="mess__item">
                                            <div class="image img-cir img-40">
                                                <img src="/Content/Template1/images/icon/avatar-04.jpg" alt="Diane Myers" />
                                            </div>
                                            <div class="content">
                                                <h6>Diane Myers</h6>
                                                <p>You are now connected on message</p>
                                                <span class="time">Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="mess__footer">
                                            <a href="#">View all messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-email"></i>
                                    <span class="quantity">1</span>
                                    <div class="email-dropdown js-dropdown">
                                        <div class="email__title">
                                            <p>You have 3 New Emails</p>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="/Content/Template1/images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, 3 min ago</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="/Content/Template1/images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, Yesterday</span>
                                            </div>
                                        </div>
                                        <div class="email__item">
                                            <div class="image img-cir img-40">
                                                <img src="/Content/Template1/images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                            </div>
                                            <div class="content">
                                                <p>Meeting about new dashboard...</p>
                                                <span>Cynthia Harvey, April 12,,2018</span>
                                            </div>
                                        </div>
                                        <div class="email__footer">
                                            <a href="#">See all emails</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <span class="quantity">3</span>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__footer">
                                            <a href="#">All notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="/Content/Template1/images/icon/avatar-01.jpg" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">john doe</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="/Content/Template1/images/icon/avatar-01.jpg" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">john doe</a>
                                                </h5>
                                                <span class="email">johndoe@example.com</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Account
                                                </a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-settings"></i>Setting
                                                </a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-money-box"></i>Billing
                                                </a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="#">
                                                <i class="zmdi zmdi-power"></i>Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->


        <div>
            @RenderBody()
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="/Content/Template1/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/Content/Template1/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/Content/Template1/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/Content/Template1/vendor/slick/slick.min.js">
    </script>
    <script src="/Content/Template1/vendor/wow/wow.min.js"></script>
    <script src="/Content/Template1/vendor/animsition/animsition.min.js"></script>
    <script src="/Content/Template1/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/Content/Template1/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/Content/Template1/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/Content/Template1/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/Content/Template1//perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/Content/Template1/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/Content/Template1/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/Content/Template1/js/main.js"></script>
</body>
</html>
