﻿@{
    Layout = null;
}
@{
    ViewBag.Title = "LoginPage";
}
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link href="~/Content/Template1/css/font-face.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/Content/Template1/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/Content/Template1/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/Content/Template1/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/Content/LoginPage.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
<<<<<<< HEAD
    <div class="card card-container">
        <h2 class='login_title text-center'>Login Panel</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body ">
                            @using (Html.BeginForm("LoginSubmit", "Login", FormMethod.Post))
                            {
                                <fieldset>
=======

    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="/Content/Template1/images/icon/logo.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            <fieldset>
                                <form action="" method="post">
>>>>>>> Naushad
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login-checkbox">
                                        <label>
                                            <input type="checkbox" name="remember">Remember Me
                                        </label>
                                        <label>
                                            <a href="#">Forgotten Password?</a>
                                        </label>
                                    </div>
                                    @using (Html.BeginForm("MyFiles", "FileShare", FormMethod.Post))
                                    {
                                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
                                    }

                                    @using (Html.BeginForm("MyFiles", "FileShare", FormMethod.Post))
                                    {
                                        <button type="submit">Testing</button>
                                    }

                                    @using (Html.BeginForm("Dashboard", "Admin", FormMethod.Post))
                                    {
                                        <button type="submit">Login to admin </button>
                                    }
                                    <div class="social-login-content">
                                        <div class="social-button">
                                            <button class="au-btn au-btn--block au-btn--blue m-b-20">sign in with facebook</button>
                                            <button class="au-btn au-btn--block au-btn--blue2">sign in with twitter</button>
                                        </div>
                                        </div>
                                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                                </form>
                            </fieldset>
                                    
                            
                        </div>
                        <p style="color:red;" class="text-center">@ViewData["ErorMessage"]</p>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /card-container -->

    <!-- Jquery JS-->
    <script src="/Content/Template1/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/Content/Template1/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/Content/Template1/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/Content/Template1/vendor/slick/slick.min.js"></script>
    <script src="/Content/Template1/vendor/wow/wow.min.js"></script>
    <script src="/Content/Template1/vendor/animsition/animsition.min.js"></script>
    <script src="/Content/Template1/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/Content/Template1/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/Content/Template1/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="/Content/Template1/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/Content/Template1/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/Content/Template1/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/Content/Template1/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="/Content/Template1/js/main.js"></script>

    </body>
</html>
<!-- end document-->
