﻿@{
    Layout = null;
}
@{
    ViewBag.Title = "2FA";
}

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="au theme template">
        <meta name="author" content="Hau Nguyen">
        <meta name="keywords" content="au theme template">

        <!-- Title Page-->
        <title>Login</title>

        <!-- Fontfaces CSS-->
        <link href="~/Content/Template1/css/font-face.css" rel="stylesheet" media="all">
        <link href="/Content/Template1/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="/Content/Template1/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="/Content/Template1/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

        <!-- Bootstrap CSS-->
        <link href="/Content/Template1/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

        <!-- Vendor CSS-->
        <link href="/Content/Template1/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="/Content/Template1/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
        <link href="/Content/Template1/vendor/wow/animate.css" rel="stylesheet" media="all">
        <link href="/Content/Template1/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="/Content/Template1/vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="/Content/Template1/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="/Content/Template1/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="/Content/LoginPage.css" rel="stylesheet" media="all">

    </head>

<div class="card card-container">
    <h2 class='login_title text-center'>Login With 2FA</h2>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @using (Html.BeginForm("Check2FAPin", "Login", FormMethod.Post))
                        {
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Google 2FA PIN" name="Pin" type="number">
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Authnticate 2FA Pin">
                            </fieldset>
                        }
                    </div>
                    <p style="color:red;" class="text-center">@ViewData["ErorMessage"]</p>
                </div>
            </div>
        </div>
    </div>
</div><!-- /card-container -->