﻿<div class="card card-container">
    <h2 class='login_title text-center'>Setup First Time Login</h2>
    <hr>
    <div class="container">
        <div class="row">
            <h2>Setup 2FA with Google Authenticator App</h2>
            <hr />
            <h4>Scan QR Code</h4>
            <img src="@ViewData["QRImage"]" />
            <h4>Or by using Manual Setup Key</h4>
            @ViewData["ManualSetupKey"]
        </div>
        <hr/>
        @using (Html.BeginForm("Submit2FAComplete", "Login", FormMethod.Post))
        {
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Done Setting Up 2FA">
        }
    </div>
</div><!-- /card-container -->