﻿
body {

}

input[type="submit"] {
    color: #050;
    font: bold 84% 'trebuchet ms',helvetica,sans-serif;
    background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
    padding:5px;
}

.Register {
    position: fixed;
    right: 900px;
    top: 100px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.ResetOTP {
    position: fixed;
    right: 500px;
    top: 100px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.ResetPassword {
    position: fixed;
    right: 100px;
    top: 100px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}



