﻿@{
    ViewBag.Title = "DefaultHomePage";
    Layout = "~/Views/Shared/_HoneyLayout.cshtml";
    //default home page after successful login
}

<div>
    <h1> default home page after login</h1>
</div>